<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>credits</title>
</head>

<body>
<div th:insert="layout/header"></div>

<div class="container">
    <p class="lead">Patterns code sources</p>
    <p>Singleton source codes:</p>
    <a href="https://pl.wikibooks.org/wiki/Kody_źródłowe/Singleton_(wzorzec_projektowy)">https://pl.wikibooks.org/wiki/Kody_źródłowe/Singleton_(wzorzec_projektowy)</a>
    <br />
    <br />

    <p>Observator source codes:</p>
    <a href="https://en.wikipedia.org/wiki/Visitor_pattern#Java_example">https://en.wikipedia.org/wiki/Visitor_pattern#Java_example</a>
    <br />
    <br />

    <p>Factory source codes:</p>
    <a href="http://krzysztofjelonek.net/wzorce-projektowe-fabryki/">http://krzysztofjelonek.net/wzorce-projektowe-fabryki/</a>
    <br />
    <br />

    <p>Prototype source codes:</p>
    <a href="https://pl.wikibooks.org/wiki/Kody_źródłowe/Prototyp_(wzorzec_projektowy)">https://pl.wikibooks.org/wiki/Kody_źródłowe/Prototyp_(wzorzec_projektowy)</a>
    <br />
    <br />

    <p>Composite source codes:</p>
    <a href="https://en.wikipedia.org/wiki/Composite_pattern">https://en.wikipedia.org/wiki/Composite_pattern</a>
    <br />
    <br />


</div>
<br />
<div class="container">
    <p class="lead">Other sources</p>

    <p>Form validation:</p>
    <a href="https://mdbootstrap.com/docs/jquery/forms/validation/">https://mdbootstrap.com/docs/jquery/forms/validation/</a>
</div>



<div th:insert="layout/footer"></div>
</body>
</html>

