<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>factory</title>
    <script language="Javascript" type="text/javascript" src="/js/DownloadFile.js"></script>
    <script language="Javascript" type="text/javascript" src="/js/ValidateForm.js"></script>
</head>

<body>
<div th:insert="layout/header"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-heading">Factory generator</div>

                <div class="panel-body">
                    <form class='needs-validation' action="factory" method="post" novalidate>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <label for="factoryName">Write name of a Factory interface</label>
                                <input type="text" id="factoryName" name="factoryName" class="form-control" placeholder="Factory interface name" required th:value="${factoryName}" onblur="this.form.submit()">
                                <div class="invalid-feedback">
                                    Interface name should not be empty.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <label for="interfaceName">Write name of a base interface class</label>
                                <input type="text" id="interfaceName" name="interfaceName" class="form-control" placeholder="base class class name" required th:value="${interfaceName}" onblur="this.form.submit()">
                                <div class="invalid-feedback">
                                    Interface name should not be empty.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <label for="subclasses">Write names of subclasses that Factory will be able to instantiate (use commas to divide names as shown below)</label>
                                <input type="text" id="subclasses" name="subclasses" class="form-control" placeholder="subclasses' names" required th:value="${subclassesExample}" onblur="this.form.submit()">
                                <div class="invalid-feedback">
                                    There should be at least one subclass.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label>Should source code include comments?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="areCommentsIncluded" name="areCommentsIncluded" th:checked="${areCommentsIncluded}" onblur="this.form.submit()">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <br />
                                <button type="submit" class="btn btn-primary">Generate code</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">

                <div class="panel panel-default">
                    <div class="panel-heading">Generated code - Factory interface</div>
                    <div class="panel-body">
                        <pre id="toDownload" th:text="${factory}"></pre>
                        <br />
                        <button type="button" class="btn btn-primary" onclick="downloadDiv('factory.java', 'toDownload', 'text/plain')">Download code file</button>
                    </div>
                </div>

            <div class="panel panel-default">
                <div class="panel-heading">Generated code - Factory subclasses</div>
                <div class="panel-body">
                    <pre id="toDownload2" th:text="${subfactories}"></pre>
                    <br />
                    <button type="button" class="btn btn-primary" onclick="downloadDiv('subfactiories.java', 'toDownload2', 'text/plain')">Download code file</button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Generated code - Product interface</div>
                <div class="panel-body">
                    <pre id="toDownload3" th:text="${interface}"></pre>
                    <br />
                    <button type="button" class="btn btn-primary" onclick="downloadDiv('interface.java', 'toDownload3', 'text/plain')">Download code file</button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Generated code - Product subclasses</div>
                <div class="panel-body">
                    <pre id="toDownload4" th:text="${subclasses}"></pre>
                    <br />
                    <button type="button" class="btn btn-primary" onclick="downloadDiv('subclasses.java', 'toDownload4', 'text/plain')">Download code file</button>
                </div>
            </div>
            <br/>
            <button type="button" class="btn btn-primary"
                    onclick="downloadDiv('factory.java', 'toDownload', 'text/plain');
                        downloadDiv('subfactiories.java', 'toDownload2', 'text/plain');
                        downloadDiv('interface.java', 'toDownload3', 'text/plain');
                        downloadDiv('subclasses.java', 'toDownload4', 'text/plain')">
                Download all files
            </button>
        </div>
    </div>
</div>


<div th:insert="layout/footer"></div>
</body>
</html>