<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>singleton</title>
    <script language="Javascript" type="text/javascript" src="/js/DownloadFile.js"></script>
    <script language="Javascript" type="text/javascript" src="/js/ValidateForm.js"></script>
</head>

<body>
<div th:insert="layout/header"></div>


<div id = "alert_placeholder"></div>
<div class="container">
    <div class="container">
        <p class="lead">Singleton generator</p>
    </div>
        <form class='needs-validation' action="singleton" method="post" novalidate>
            <div class="form-group row">
                <div class="col-sm-10">
                    <label for="className">Write name of Singleton's class</label>
                    <input type="text" id="className" name="className" class="form-control" placeholder="class name" required>
                    <div class="invalid-feedback">
                        Class name should not be empty.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="singletonType">Choose implementation you want to use</label>
                <select class="form-control" id="singletonType" name="singletonType">
                    <option>Simple (not thread-safe)</option>
                    <option>Lazy (not thread-safe)</option>
                    <option>Advanced (thread safe - requires Java 5 or newer)</option>
                </select>
            </div>
                <div class="form-group row">
                    <div class="col">
                        <label>Should source code include comments?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="areCommentsIncluded" name="areCommentsIncluded" th:checked="${areCommentsIncluded}">
                            <label class="form-check-label" for="areCommentsIncluded">
                                Comments included
                            </label>
                        </div>
                    </div>
                </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Generate code</button>
                </div>
            </div>
        </form>
        <div class="container">
            <p class="lead">Generated code</p>
        </div>
        <div class="card">
            <div class="card-body" >
                <pre id="toDownload" th:text="${code}"></pre>
            </div>
        </div>
    <br />
    <button type="button" class="btn btn-primary" onclick="downloadDiv('singleton.java', 'toDownload', 'text/plain')">Download code file</button>
</div>
</body>
</html>